<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "مسابقه کلبه عمو پورنگ" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <%= @inner_content %>

    <div id="logout">
      <a href="/logout">خروج از حساب کاربری</a>
      <%= if assigns[:current_user] do %>
        <%= if @current_user.is_admin == true do %>
          <a href="/super-admin/session" id="admin-page">مدیریت بازی</a>
        <% end %>
      <% end %>
    </div>
  </body>
</html>
<script>

    document.getElementById("mobile")?.addEventListener("click", function() {
      document.getElementById("logout").classList.toggle("show");
    });
    document.getElementById("logout")?.addEventListener("click", function() {
      document.getElementById("logout").classList.toggle("show");
    });
</script>
